@media (max-width:1200px){
    .footer__inner{
        flex-wrap:wrap;
    }
    .footer__col-adress{
        margin-bottom: 30px;
        min-width: 100%;
    }
    .footer__col-title{
        margin-top: 20px;
    }
    
}
@media (max-width:980px){
    .header__text{
        display: none;
    }
}
@media (max-width:900px){
    .menu__list{
        display: none;
        left: 50px;
    }
    .menu__btn{
        display: block;
        width: 30px;
        cursor: pointer;
        div{
            background-color: #fff;
            height: 3px;
            &+div{
                margin-top: 5px;
            }
        }
    }
    
       
}
@media (min-width:900px){
    .menu__list {
        position: static !important;
        display:inline-block !important;
        li{
            display:inline-block !important;
        }
    }
} 
@media (max-width:620px){
    .header__bell-block,.header__mail-block,.bell,.mail {
        display: none !important;
    }
    .basket{
        left: 24px;
    }
}   
@media (max-width:520px){
    .header__btn-menu{
        display: block !important;
        width: 70px;
        height: 70px;
        background-color: #8bb00c;
        position: absolute;
        right: -15px;
        top: 0;
        &::before{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            font-size: 36px;
            color: #fff;
        }
    }
    .header__box{
        transform: translate(300px);
        transition: all 1s;
        &.active{
            transform: translate(0px) !important;
        }
       
    }
    .header__logo{
        margin-left: 180px;
    }
    .menu__btn{
        top: 24px;
        margin-right: 10px;
         div{
            background-color: black;
            top: 50px;
        }
    }
    .header__top-inner{
        height: 70px;
    }
}
@media (max-width:350px){
    .header__logo img{
        margin-left: 50px;
        width: 80px;
    }
}
   