@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__text {
    margin-left: auto;
    margin-right: 30px;

    span {
        color: $red;
    }
}

.header__top-inner {
    display: flex;
    justify-content: space-around;
    height: 90px;
    align-items: center;
    position: relative;
}

.header__box {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;

}

.header__btn {
    padding: 4px;
    border-radius: 4px;
    width: 72px;
    color: white;
    text-align: center;
    font-size: 12px;
}

.header__btn-basket {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #f5f5f5;
    margin-right: 26px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 15px;
    cursor: pointer;

    &-new {
        margin-right: 15px;

    }

}

.header__btn-number {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    color: white;
    left: 23px;
    top: -7px;
    line-height: 18px;
    cursor: pointer;
    min-height: 18px;
    min-width: 18px;
    background-color: #e74c3c;
    font-size: 12px;
    padding: 0px 1px;
}


.bell {
    background-color: #fdd585;
    top: 1px;
    left: 22px;
}

.mail {
    background-color: #f28b35;
    left: 71px;
    top: 1px;
}

.basket {
    background-color: #b3d789;
    left: 118px;
    top: 1px;

    &__item, &__item-bell {
        display: flex;
        border-top: #e0e0e0 solid 1px;
        justify-content: space-between;
        &-imgbell{
            height: 17px;
            width: 15px;
            margin-top: 27px;
            margin-right: 10px;
            &.mail-img{
                height: 16px;
                width: 17px;  
                background-color: #fff; 
            }
           &.active{
              background-image: url(/images/content/mail-active.png);
           }

        }

        &-img {
            height: 55px;
            width: 75px;
            margin-top: 20px;
           
        }

        &__summ {
            border-top: #e0e0e0 solid 1px;
        }
        &-bell-img{
            height: 47px;
            width: 47px;
            border-radius: 50%;
        }

    }

    &__info {
        margin: 20px 0px;
        margin-left: -35px;
      

        &-name {
            line-height: 11px;
            color: $bg;
            @include f700;
        }

        &-theme {
            color: $green;
            font-size: 12px;
        }

        &-price {
            @include f500;
            color: black;
            font-size: 16px;
            &-bell{
                font-size: 12px; 
            }
        }
    }

    &-title {
        color: black;
        padding: 16px 17px 0px;
        @include f700;
        border-top: #e0e0e0 solid 1px;
        display: flex;
        justify-content: space-between;
    }

    &__btns {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__btn {
        color: white;
        padding: 8px 13px;
        margin-top: 10px;
        background-color: $green;
        @include f500;

        &-checkout {
            background-color: #e85647;


        }
    }



}


.header {
    
    &__bell-block{
        &:hover {
            .header__bell-block-menu {
                transition: all 1s;
                height: 270px;
                overflow: none;
            }
        }
        &-menu{
            overflow: hidden;
            border: 0 px solid rgb(204, 204, 204);
            position: absolute;
            background-color: #fff;
            width: 158px;
            padding: 0 20px;
            top: 69px;
            height: 0;
            width: 269px;
            left: -235px;
        }
    }

    &__mail-block{
        .basket__info-name{
            font-weight: 400;
            font-size: 14px;
        }
        .basket__info-theme{
            margin-top: 2px;
        }
        .basket__info-price-bell{
            margin-top: -5px;
        }
        &:hover {
            .header__mail-block-menu {
                transition: all 1s;
                height: 280px;
                overflow: none;
            }
        }
        &-menu{
            overflow: hidden;
            border: 0 px solid rgb(204, 204, 204);
            position: absolute;
            background-color: #fff;
            width: 158px;
            padding: 0 20px;
            top: 69px;
            height: 0;
            width: 269px;
            left: -190px;
        }
    }
    &__basket-block {
        &:hover {
            .header__basket-block-menu {
                transition: all 1s;
                height: 320px;
                overflow: none;
            }
        }

        &-menu {
            overflow: hidden;
            border: 0 px solid rgb(204, 204, 204);
            position: absolute;
            background-color: #fff;
            width: 158px;
            padding: 0 20px;
            top: 69px;
            height: 0;
            width: 269px;
            left: -120px;
        }
    }


    &__user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &:hover {
            .header__user-menu {
                transition: all 1s;
                height: 370px;
                overflow: none;
            }

        }


        &-menu {
            overflow: hidden;
            border: 0 px solid rgb(204, 204, 204);
            position: absolute;
            background-color: #fff;
            width: 158px;
            padding: 0 20px;
            top: 69px;
            height: 0;

            a {
                font-size: 12px;
                color: #546e7a;
                line-height: 28px;
                margin-top: 15px;

            }
        }

        .angle-right {
            &::before {
                top: 15px;
            }

        }

        &-status {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding-right: 20px;

            &::after {
                content: '';
                position: absolute;
                background-image: url(/images/icons/arrow.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                cursor: pointer;
                height: 8px;
                width: 10px;
                top: 8px;
                right: 0;
            }
        }

        &-name {
            color: black;
            font-weight: bold;
            cursor: pointer;

        }

        &-ballance {
            color: #8bc34a;
            font-weight: bold;
            cursor: pointer;
        }

        &-logo {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            margin-right: 15px;
            margin-left: 7px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            cursor: pointer;
        }
    }



}

.header__btn-login {
    background-color: $green;
}

.header__btn-register {
    background-color: $red;
    margin-left: 7px;
}

.logout {
    min-width: 75px;
    min-height: 32px;
    line-height: 28px;
    padding: 1px 12px;
    overflow-wrap: break-word;
    font-size: 15px;
    margin-left: 28px;
}

.header__menu {
    background-color: $bg;
}

.menu {
    display: flex;
    align-items: center;
    height: 60px;
}

.menu__list {
    li {
        display: inline-block;

        &+li {
            margin-left: 38px;
        }
    }

    a {
        color: #fff;
        font-size: 14px;
    }

}


// end header
// start search
.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;

    &-new {
        min-height: 228px;
        background-position: -150px -30px;
        background-size: 120%;
    }
}

.search__inner {
    padding: 155px 0px 100px;
    color: white;
    text-align: center;

    &-new {
        padding: 60px 0px 68px;

    }

    &-title {
        margin-bottom: 10px;
        font-size: 48px;
        @include f700;
        line-height: 72px;
    }

    &-text {
        margin-bottom: 28px;
        font-size: 20px;
        @include f500;
        line-height: 30px;
    }

    &-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 15px 0px rgba(100, 100, 100, 1);

        input {
            display: block;
            width: 100%;
            border-radius: 4px;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            padding-left: 25px;
            padding-right: 60px;

            &::placeholder {
                color: #90a4ae;
                @include f500;
            }
        }

        button {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 18px;
        }
    }
}

// end serch
// start products
.products {
    padding: 110px 0px;
    background-color: $grey;
}

.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;

    button {
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;

        &+button {
            margin-left: 5px;
        }

        outline: none;

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;

        }
    }
}

.products__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;

    &-img {
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }
}

.product__item {
    &-name {
        max-width: 310px;
    }

    &-title {
        display: block;
        color: $bg;
        @include f500;
        font-size: 18px;
    }

    &-category {
        display: block;
        font-size: 14px;
        color: $green;
    }

    &-price {
        font-size: 20px;
        color: $bg;
        @include f700;
    }

    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }

    &-author {
        span {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            vertical-align: middle;
            margin-right: 5px;
        }

        font-size: 14px;
        @include f500;
        max-width: 245px;

    }

    &-star {
        span {
            color: $bg;
        }
    }
}

.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__bottom-btn {

    text-align: center;

    button {
        margin: 45px 5px 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;

        outline: none;

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;

        }
    }
}

// end search
//start product-slider

.product-slider {
    padding: 110px 0px 100px;

    .slick-dots {
        text-align: center;
        margin: 50px;

        li {
            display: inline-block;
            margin: 0px 3px;

            &.slick-active {
                button {
                    background-color: $green !important;
                    background-image: none;
                }
            }
        }

        button {
            border-radius: 50%;
            background-image: url(/images/icons/Button.png);
            border: none;
            font-size: 0;
            width: 16px;
            height: 16px;
            outline-style: none;
            cursor: pointer;

        }

    }

}

//end product-slider

//start advantages

.advantages {
    background-color: $bg;
    padding: 110px 0;
}

.advantages__title {
    color: #fff;
    margin-bottom: 80px;
}

.advantages__inner {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    max-width: 370px;
    text-align: center;
    padding: 0px 10px;

    &:hover {
        .advantages__item-images {
            background-color: $green;

        }

        .advantages__item-title {
            a {
                color: $green;
            }
        }

        .advantages__item-images {
            svg {
                transition: all 0.5s;
                fill: #fff;
            }
        }

    }

    &-images {
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all 0.5s;
        cursor: pointer;

    }

    &-title a {
        font-size: 24px;
        margin-bottom: 25px;
        color: #fff;
        @include f500;
        transition: all 0.5s;
        cursor: pointer;

    }

    &-text {
        font-size: 15px;
        color: #b0bec5;
    }
}

.ico-1 {
    svg {
        width: 87px;
    }
}

.ico-2 {
    svg {
        width: 87px;
    }
}

.ico-3 {
    svg {
        width: 87px;
    }
}


//end advantages
//start author
.author {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        width: 100%;
        max-width: 650px;
        min-height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
    }

    &__title {
        max-width: 265px;
        margin-right: 45px;
        font-size: 30px;
        line-height: 30px;
        color: #fff;

        span {
            @include f700;
        }
    }

    &__link {
        color: #263238;
        font-size: 18px;
        line-height: 36px;
        padding: 14px 40px;
        background-color: #fff;
    }
}

//end author
//start tutorial
.tutorial {
    padding: 50px 0px 120px;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }

    &__item {
        max-width: 370px;
        width: 100%;

        &-images {
            min-height: 270px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &-title {
            background-color: #f8f8f8;
            font-size: 24px;
            text-align: center;
            @include f700;
            padding: 30px 10px;
            color: $bg;
        }

    }
}


//end tutorial

//start footer
.footer {
    background-color: $bg;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 100px 0 80px;
    }

    &__copy {
        border-top: 1px solid #323d53;

        &-text {
            text-align: center;
            font-size: 15px;
            color: #919699;
            padding: 25px 0px;
        }
    }

    &__col {
        max-width: 270px;
        width: 100%;

        &-menu {
            max-width: 270px;
        }

        &-title {
            font-size: 22px;
            font-family: 'Raleway'sans-serif;
            font-weight: 700;
            color: #fff;
            padding-bottom: 30px;
            margin-bottom: 30px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 2px;
                width: 51px;
                height: 3px;
                background-color: $green;
            }

        }

        &-text {
            color: #b7c3c8;
            margin-bottom: 30px;
        }

        &-list {
            a {
                margin-bottom: 15px;
                color: #b7c3c8;
                padding-left: 22px;
                position: relative;

                &::before {
                    content: '\f105';
                    color: $green;
                    position: absolute;
                    left: 0;
                    font-size: 18px;
                    font-family: 'icomoon';
                }
            }
        }
    }

    .footer__info {
        margin-top: 18px;
        @include f500;
        color: #fff;
        padding-left: 30px;
        position: relative;

        &::before {
            content: "\f041";
            font-family: 'icomoon';
            color: $green;
            font-size: 18px;
            position: absolute;
            left: 0;
        }

        &-phone {
            &::before {
                content: "\f095";
                font-family: 'icomoon';
            }

        }
    }

}

.footer__social-link {
    margin-bottom: 33px;

    li {
        display: inline-block;
    }

    a {
        width: 28px;
        height: 28px;
        background-image: url(../images/content/css_sprites.png);

        &+a {
            margin-left: 7px;

        }
    }
}

.link-twitter {
    background-position: -28px 0;
}

.link-youtube {
    background-position: -56px 0;

}

.link-pinterest {
    background-position: 0px 28px;

}

.link-linkledin {
    background-position: -28px -28px;

}

.footer__form-title {
    margin-bottom: 15px;
    color: #fff;
    font-size: 20px;

}

.footer__form {
    width: 100%;
    position: relative;

    input {
        border: none;
        background-color: #2f3c43;
        display: block;
        width: 100%;
        height: 40px;
        color: #fff;
        font-size: 14px;
        padding: 0px 50px 0px 13px;

        &::placeholder {
            color: #697378;
        }
    }

    button {
        position: absolute;
        top: 38px;
        right: 0;
        background-color: $green;
        border: none;
        height: 40px;
        width: 43px;
        cursor: pointer;

        &::before {
            content: '\f124';
            position: absolute;
            font-family: 'icomoon';
            color: #fff;
            top: 11px;
            left: 13px;
        }
    }
}

//end footer
//start product page
.product-page__inner {
    display: flex;
    padding-bottom: 110px;
}

.product-page__aside {
    margin-right: 30px;
}

.aside-item {
    background-color: #fafafa;
    border: solid 1px #f7f8f7;
    padding: 0 28px 32px;
    margin-bottom: 30px;
    width: 100%;
    width: 270px;

}

.top-sellers {
    margin-bottom: 0;
}

.products__item-new {
    width: 270px;

    .product__item-info {
        padding: 0;
    }
}

.aside__title {
    @include f700;
    font-size: 20px;
    color: $bg;
    padding: 22px 0px 19px;
    border-bottom: 1px solid grey;
}

.category__list {
    padding-top: 10px;

    li {
        padding: 10px 0;
        display: flex;

        justify-content: space-between;
        padding-left: 20px;
        position: relative;

        &:before {
            content: '\f105';
            color: #8bc34a;
            position: absolute;
            left: 0;
            font-size: 18px;
            font-family: 'icomoon';
        }
    }

    span {
        color: #90a4ae;
        padding-left: 10px;
    }

    a {
        color: $bg;
    }
}

.price-range {
    form {
        padding-top: 20px;
    }

    button {
        margin-top: 55px;
        padding: 16px 10px;
        background-color: $green;
        text-align: center;
        color: white;
        @include f500;
        display: block;
        border: none;
        cursor: pointer;
        width: 100%;
        position: relative;

        &:before {
            content: '\f002';
            color: #fff;
            position: absolute;
            left: 58px;
            top: 15px;
            font-size: 15px;
            font-family: 'icomoon';
        }
    }
}

.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
    display: none;
}

.irs-min,
.irs-max {
    display: none;
}

.irs--flat .irs-line {
    background-color: #f9fafc;
    height: 5px;
}

.irs--flat .irs-bar {
    background-color: $bg;
    height: 5px;
}

.irs--flat .irs-handle>i:first-child {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 4px solid $green;
    background-color: white;
    top: -2px;

}


.irs-handle i {
    background-color: white !important;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
    color: #78909c;
    font-size: 15px;
    line-height: 1.333;
    text-shadow: none;
    padding: 0;
    background-color: transparent;
    border-radius: 0px;
}

.top-sellers {
    .aside-items .products__item:last-child {
        border-bottom: none;
        margin-bottom: 13px;
    }

    .aside-items .products__item:first-child {
        margin-top: 25px;
    }


    .products__item {
        &-img {
            min-height: 120px;
        }

        box-shadow:none;
        border-bottom:1px solid #c3cad3;
        padding-bottom: 25px;


    }


    .products__item-content {
        padding: 0;
        min-height: 75px;
        border-bottom: none;
    }

    .product__item-info {
        padding: 0;
        min-height: 0;
    }

    .product__item-title {
        font-size: 16px;
        @include f700;
    }

    .product__item-price {
        font-size: 16px;
        @include f700;
    }

    .rate-star {
        margin-right: 0;
    }

    .jq-ry-container {
        padding: 0;
    }
}

.top-sellers__link {
    padding: 11px 10px;
    background-color: #8bc34a;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: block;
    border: none;
    cursor: pointer;
    width: 100%;
}

.product-page__filter {
    background-color: #fff;
    border: solid 1px #dedede;
    padding: 0px 20px;
    margin-bottom: 30px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-sort {
        display: flex;
        align-items: center;

    }

    .product-page__filter-sort {
        color: #707070;
        font-size: 14px;
    }

    button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 16px;
        color: #90a4ae;

        &.active {
            color: $green;
        }

        transition: all 0.5s;

        margin-top: 1px;
    }
}

button.icon-sort-amount-asc {
    font-size: 18px;
    color: #455a64
}

button.icon-unsorted {
    font-size: 14px;
    color: #707070;
}

.product-page__content {
    width: 100%;
    padding: 10px 0px;

    .products__item {
        min-width: 270px;
        background-color: #fff;

        &-img {
            min-height: 180px;
        }

        outline: none;
        transition:all 0.3s;
    }

    .product__item-title {
        font-size: 16px;
    }

    .product__item-info {
        padding: 10px 20px;
        min-height: 65px;
    }

    .rate-star {
        margin-right: 5px;
    }
}

.pagintion__list {
    li {
        display: inline-block;

        &+li {
            margin-left: 6px;
        }


        a,
        span {
            box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
            width: 43px;
            height: 38px;
            display: flex;
            justify-content: center;
            background-color: #fff;
            align-items: center;
            font-size: 16px;
            text-align: center;
            color: $bg;
            @include f500;

            &.active {
                background-color: red;
                color: white;
            }
        }
    }
}

.product__item-list {
    display: none;

    .icon-comment-o,
    .icon-heart-o {
        color: #70838d;
        font-size: 12px;
        display: inline-block;
        padding-left: 50px;
        border-left: 1px solid #aeb4bb;
        position: relative;

        span {
            display: inline-block;
            color: $bg;
        }

        &::before {
            font-size: 16px;
            color: $green;
            position: absolute;
            left: 20px;
            top: 0;
        }
    }

    .icon-comment-o {
        padding-right: 30px;

        &::before {
            top: -2px;
        }
    }
}

.products__item.list {
    .product__item-list {
        display: block;
    }

    min-width:100%;

    .products__item-img {
        width: 240px;
        float: left;
        min-height: 100%;
    }

    .product-page-text {
        display: block;
        font-size: 14px;
        color: #70838d;
        margin-bottom: 5px;
        padding-left: 270px;
        margin-top: -28px;
    }

    .product__item-name {
        max-width: 480px;
    }

    .product__item-price {
        span {
            display: block;
            font-size: 15px;
            color: #aeb4bb;
            margin-top: 30px;
        }

        font-size: 30px;
    }

    .product__item-name {
        max-width: 480px;
    }

    .products__item-content {
        padding-top: 25px;

    }


    .product__item-info {
        border-top: 1px solid #e7ecf2;
        padding: 0px 5px;
        padding-left: 30px;
        margin-right: 25px;
    }

    .products__item-content {
        border-bottom: none;
        padding-bottom: 5px;
        min-height: 0px;
    }

    .product__item-star {
        margin-left: auto;
        margin-right: 30px;
    }

    .product__item-title {
        margin-top: -35px;
    }
}

.product-page-text {
    display: none;
}

.product__item-price {

    span {
        display: none;
    }
}